/* resets styling and adds Roboto as main font */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* Some default styling rules for Neomorphism */
.container, header, .card, .input, .card-mask {
    background-color: lightgrey;
}

input {
    border: none;
    background-color: 
}
/* This masks cards that go past the header */
.card-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 25vh;
}

/* The main container */
.container {
    display: grid;
    width: 100vw;
    height: 300vh;
    grid-template-columns: 1fr;
    grid-template-rows: 25vh repeat(5, 2fr);
    grid-template-areas: 
    "header"
    "list"
    "card-1"
    "card-2"
    "card-4";
    gap: 4vh 4vh;
    padding: 4vh;
    background-color: lightgrey;
}

/* Header */
header {
    grid-area: header;
    position: sticky;
    top: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
}
#city {
    font-weight: 400;
    font-size: 3vh;
}
#time {
    font-weight: 900;
    font-size: 7vh;
}
#city-input {

}

/* Cards */
.card {
    background-color: grey;
}
#list {
    grid-area: list;
}



@media only screen and (min-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25vh repeat(3, 2fr);
        grid-template-areas: 
        "header header"
        "list list"
        "card-1 card-2"
        "card-4 .";
        height: 200vh;
    }
}
@media only screen and (min-width: 1024px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25vh repeat(4, 2fr);
        grid-template-areas: 
        "header list"
        "card-1 list"
        "card-2 list"
        "card-3 list"
        "card-4 list";
        height: 200vh;
        gap: 4vh 8vh;
    }
    #list {
        position: sticky;
        top: 4vh;
        height: calc(100vh - 8vh);
    }
}