/* resets styling and adds Roboto as main font */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* indent color */
header, input, .card-mask {
    background-color: rgb(240, 240, 240);
}
/* Background-color */
.card, .container, .card-mask, header{
    background-color: rgb(230, 230, 230);
}

form {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
input {
    border: none;
    outline: none;
    border-radius: 1vh;
    height: 5vh;
    width: 75%;
    text-align: center;
    font-size: 2vh;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.329) inset, -3px -3px 3px rgba(255, 255, 255, 0.5) inset;
}
/* This masks cards that go past the header */
.card-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 29vh;
}

/* The main container */
.container {
    display: grid;
    width: 100vw;
    height: 300vh;
    grid-template-columns: 1fr;
    grid-template-rows: 25vh repeat(5, 2fr);
    grid-template-areas: 
    "header"
    "list"
    "card-1"
    "card-2"
    "card-4";
    gap: 4vh 4vh;
    padding: 4vh;
}

/* Header */
header {
    grid-area: header;
    position: sticky;
    top: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}
#city {
    font-weight: 400;
    font-size: 3vh;
}
#time {
    font-weight: 900;
    font-size: 7vh;
}
#city-input {

}

/* Cards */
.card {
    display: flex;
    flex-direction: column;
    padding: 4vh;
    align-items: center;
    justify-self: center;
    width: 98%;
    height: 100%;
    border-radius: 3vh;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1), -3px -3px 3px rgba(255, 255, 255, 0.5);
}
.title {
    margin-bottom: 1vh;
}
#list {
    grid-area: list;
}



@media only screen and (min-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25vh repeat(3, 2fr);
        grid-template-areas: 
        "header header"
        "list list"
        "card-1 card-2"
        "card-4 .";
        height: 200vh;
    }
}
@media only screen and (min-width: 1024px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25vh repeat(4, 2fr);
        grid-template-areas: 
        "header list"
        "card-1 list"
        "card-2 list"
        "card-3 list"
        "card-4 list";
        height: 200vh;
        gap: 4vh 4vh;
    }
    #list {
        position: sticky;
        top: 4vh;
        height: calc(100vh - 8vh);
    }
}